1. Filter operation - extract rows from DF based on conditions.
2. Logical operators
  - AND operator - &
  - OR operator - |
3. Comparison operators ==,!=

In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("pyspark_3").getOrCreate()

In [ ]:
df = spark.read.csv("/content/Book1.csv",header = True, inferSchema =True)

In [ ]:
df.show()

+----+---+--------+-----+
|Name|Age|Location|Marks|
+----+---+--------+-----+
|   a| 11|   delhi|   83|
|   b| 12|    pune|   56|
|   c| 13|   bihar|   72|
|   d| 14|   rachi|   67|
|   e| 15|   delhi|   73|
|   f| 16|   bihar|   65|
|   g| 17|    pune|   54|
|   h| 21|   delhi|   54|
|   i| 19|      up|   76|
|   j| 23|      up|   54|
+----+---+--------+-----+

**Filter Operator**

In [ ]:
df.filter("Marks >65").show()

+----+---+--------+-----+
|Name|Age|Location|Marks|
+----+---+--------+-----+
|   a| 11|   delhi|   83|
|   c| 13|   bihar|   72|
|   d| 14|   rachi|   67|
|   e| 15|   delhi|   73|
|   i| 19|      up|   76|
+----+---+--------+-----+

In [ ]:
df.filter(df['Marks'] >65).select(['Name','Age']).show()

+----+---+
|Name|Age|
+----+---+
|   a| 11|
|   c| 13|
|   d| 14|
|   e| 15|
|   i| 19|
+----+---+

In [ ]:
# Multiple filter

df.filter((df['Marks']>65) | (df['Marks'] <80)).show()

+----+---+--------+-----+
|Name|Age|Location|Marks|
+----+---+--------+-----+
|   a| 11|   delhi|   83|
|   b| 12|    pune|   56|
|   c| 13|   bihar|   72|
|   d| 14|   rachi|   67|
|   e| 15|   delhi|   73|
|   f| 16|   bihar|   65|
|   g| 17|    pune|   54|
|   h| 21|   delhi|   54|
|   i| 19|      up|   76|
|   j| 23|      up|   54|
+----+---+--------+-----+

In [ ]:
df.filter(df['Marks'] != 73).show()

+----+---+--------+-----+
|Name|Age|Location|Marks|
+----+---+--------+-----+
|   a| 11|   delhi|   83|
|   b| 12|    pune|   56|
|   c| 13|   bihar|   72|
|   d| 14|   rachi|   67|
|   f| 16|   bihar|   65|
|   g| 17|    pune|   54|
|   h| 21|   delhi|   54|
|   i| 19|      up|   76|
|   j| 23|      up|   54|
+----+---+--------+-----+

In [ ]:
# Multiple filter
df.filter(~(df['Marks']>65) & (df['Marks'] <85)).show()

+----+---+--------+-----+
|Name|Age|Location|Marks|
+----+---+--------+-----+
|   b| 12|    pune|   56|
|   f| 16|   bihar|   65|
|   g| 17|    pune|   54|
|   h| 21|   delhi|   54|
|   j| 23|      up|   54|
+----+---+--------+-----+

**collect()**

In [ ]:
df_final = df.filter(df["Marks"]>75).collect()
df_final

[Row(Name='a', Age=11, Location='delhi', Marks=83),
 Row(Name='i', Age=19, Location='up', Marks=76)]

In [ ]:
for row in df_final:
  print(row)

Row(Name='a', Age=11, Location='delhi', Marks=83)
Row(Name='i', Age=19, Location='up', Marks=76)

In [ ]:
df_final[0]["Name"]

'a'

In [ ]:
df_final[1]["Name"]

'i'

In [ ]:
df_final[0]["Age"]

11